@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    .input-row {
        flex-direction: column;
        align-items: stretch;
    }

    button {
        width: 30%;
    }

    .back-button{
        width: 20%;
    }
}
