@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .section-container {
        padding: 1rem;
    }

    button {
        width: 20%;
        padding: 0.75rem;
    }

    pre {
        padding: 0.75rem;
        font-size: 0.9rem;
    }
}
